@import "utils.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
          font-weight: lighter;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#showcase {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #db55db, #00dbde);

  .form {
    overflow: hidden;
    width: 600px;
    height: 600px;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .left {
      width: 100%;
      height: 100%;
      background: url("../img/superrgb-xY0s6aNCV24-unsplash.jpg") center center/cover no-repeat;
    }
    .right {
      position: relative;

      width: 100%;
      height: 100%;
      background: #15191c;
      color: white;

      h1 {
        font-size: 1.8rem;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .row {
        position: relative;

        input {
          border: none;
          border-bottom: 2px solid gray;
          background: #15191c;
          margin: 2rem;
          height: 20px;
          color: white;
          font-size: 1.1rem;
          transition: all 0.3s;
          font-weight: lighter;
          &:focus,
          &:hover {
            border-color: #00dbde;
          }
        }
        label {
          font-size: 1.2rem;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s;
        }
        .hide {
          opacity: 0;
        }
      }
.smashDatWall{
    animation-name: smashTheWall;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
      @keyframes smashTheWall {
        0% {
            transform: translateX(-10%);
        }

        25% {
            transform: translateX(35%);
        }


        100% {
            transform: translateX(0);
        }
      }
      button {
        border: none;
        background: none;
        i {
          cursor: pointer;
          padding: 2rem;
          font-size: 3.5rem;
          color: white;
          position: absolute;
          bottom: 0;
          right: 0;
          border-top-left-radius: 25%;
          transition: all 0.5s;
          &:hover {
            color: #00dbde;
          }
        }
      }
    }
  }
}
